<a href="https://colab.research.google.com/github/AceBlu/LetsUpgrade-Data-Science/blob/main/Day_4_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1.**
How to import pandas and check the version?

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.4

**Question 2.**
How to create a series from a numpy array?

In [ ]:
import numpy as np 
arr = np.array([10, 20, 30, 40, 50, 60, 70])
print("Numpy Array:")
print(arr)
series = pd.Series(arr)
print("\nPandas Series:")
print(series)

Numpy Array:
[10 20 30 40 50 60 70]

Pandas Series:
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

**Question 3.**
How to convert the index of a series into a column of a dataframe?

In [ ]:
df = pd.DataFrame({'Roll Number': ['11900142', '11900276', '11900475', '11900522'], 
                   'Name': ['Amisha', 'Tania', 'Aryan', 'Sonia'], 
                   'Marks In Percentage': [90, 60, 97, 82], 
                   'Grade': ['A', 'c', 'A', 'B'], 
                   'Subject': ['Maths', 'Maths', 'Maths', 'Maths']}) 
  

df['index'] = df.index 
print(df)

  Roll Number    Name  Marks In Percentage Grade Subject  index
0    11900142  Amisha                   90     A   Maths      0
1    11900276   Tania                   60     c   Maths      1
2    11900475   Aryan                   97     A   Maths      2
3    11900522   Sonia                   82     B   Maths      3

**Question 4.**
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [15]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [18]:
mpg = sns.load_dataset("mpg")
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

**Question 5.**
Which country origin cars are a part of this dataset?

In [19]:
data['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

**Question 6.**
Extract the part of the dataframe which contains cars belonging to 'usa'

In [20]:
data[data['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]